.admin-registrations-section{
    display: flex;
    /* position: sticky;
    top: 0; */
}

.admin-registrations{
    width: 71%;
    margin-top: 5vh;

    /* border: 2px solid red; */
    /* overflow-x: scroll; */
}

.admin-registrations div{
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.8rem 0.8rem 1.2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 0.5rem;
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
}

.admin-registrations h4{
    color: white;
}

.admin-registrations table{
    width: 100%;
}

.admin-registrations tr{
    display: flex;
    height: 3rem;
    /* width: 100%; */
    /* justify-content: space-between; */
    align-items: center;
    /* gap: 2rem; */
    /* border: 2px solid red; */
}

.admin-registrations tr{
    margin-top: 1rem;
 }
.admin-registrations tr th{
    margin-top: -1rem;
 }
.admin-registrations tr :nth-child(1) {
    width: 15%;
    /* border: 2px solid pink; */
    text-align: center;
    text-wrap: wrap;

}
.admin-registrations tr :nth-child(2) {
    width: 25%;
    text-align: center;
    text-wrap: wrap;
    /* border: 2px solid pink; */
}
.admin-registrations tr :nth-child(3) {
    width: 10%;
    text-align: center;
    text-wrap: wrap;
    /* border: 2px solid pink; */
}
.admin-registrations tr :nth-child(4) {
    width: 5%;
    text-align: center;
    text-wrap: wrap;
    /* border: 2px solid pink; */
}
.admin-registrations tr :nth-child(5) {
    width: 15%;
    text-align: center;
    text-wrap: wrap;
    /* border: 2px solid pink; */
}
.admin-registrations tr :nth-child(6) {
    width: 12%;
    text-align: center;
    text-wrap: wrap;
    margin-left: 3%;
    /* border: 2px solid pink; */
}

.admin-registrations tr :nth-child(7) {
    width: 12%;
    text-align: center;
    margin-left: 3%;
    /* text-wrap: wrap; */
    /* border: 2px solid pink; */
}

 /* .admin-users */
