.sidebar {
  height: 82vh;
  width: 23%;
  background-color: #011627;
  position: sticky;
  top: 20%;
}

.innerSidebar {
  border-radius: 0.8rem;
  height: 75vh;
  margin: 3vh 5% 3vh 5%;
  background-color: #011627;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.aside-heading {
  height: 15%;
  /* border: 2px solid red; */
  color: rgb(0, 195, 255);
  padding: 2rem 0rem;
}
.aside-heading h6 {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  color: rgb(0, 195, 255);
  background-color: transparent;
  margin-bottom: 1rem;
  text-align: center;
  font-size: medium;
  font-family: "Open-Sans", sans-serif;
  font-weight: 600;
}
.aside-heading hr {
  width: 100%;
  margin: 1.3rem 0rem;
  border: 1px solid grey;
}
.aside-components ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem 0rem 1rem;
}

.aside-components ul li {
  display: flex;
  gap: 0.8rem;
  padding: 0.8rem 0rem;
  border-radius: 0.5rem;
  background: transparent;
  padding-left: 1rem;
}
.aside-components ul li :nth-child(1) {
  height: 1rem;
}

.aside-components ul a {
  color: rgb(255, 255, 255);
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 950px) {
  .sidebar {
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
    top: 11%;
    height: auto;
    background-color: aqua;
  }
  .innerSidebar {
    height: 18vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
  }
  .aside-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aside-heading h6 {
    margin-bottom: 0;
    margin-top: 2.5rem;
  }
  .aside-components ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 0rem;
  }
  .aside-components ul li :nth-child(1) {
    width: 2rem;
  }
  .aside-components ul li {
    gap: 0rem;
    padding: 0.8rem 1rem 0.8rem 0.5rem;
    border-radius: 0.5rem;
    background: transparent;
  }
}
@media screen and (max-width: 550px) {
  .aside-components ul li :nth-child(1) {
    width: 1rem;
  }
  .aside-components ul li {
    gap: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .aside-components ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .innerSidebar {
    height: 23vh;
  }
}
@media screen and (max-width: 355px) {
  .aside-components ul li {
    height: 2.8rem;
    padding: 0;
    padding-left: 0.8rem;
    align-items: center;
  }
  .innerSidebar {
    height: 23vh;
  }
}
