.admin-members-section {
  display: flex;
  background-color: #011627;
  margin-top: 100px;
}

.admin-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 74%;
  position: relative;
  background-color: #011627;
  border-radius: 1rem;
  padding: 2.4rem 1rem 1rem 1rem;
  margin-top: 8vh;
  margin-bottom: 4vh;
  margin-left: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.admin-members div {
  display: flex;
  align-items: center;
  width: 95%;
  position: absolute;
  top: -1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0.8rem 0.8rem 1.2rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 195, 255);
}

.admin-members h4 {
  color: #011627;
  font-weight: 800;
}
.admin-members span {
  width: auto;
}

.admin-members table {
  width: 100%;
}

.admin-members tr {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  margin-top: 1rem;
  font-family: "Open-Sans", sans-serif;
  font-weight: 100;
  color: white;
}
.admin-members tr th {
  color: white;
  font-family: "Open-Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

.admin-members tr td {
  font-size: 0.9rem;
}
.admin-members tr td :nth-child(1) {
  width: 100%;
}

.admin-members tr :nth-child(1) {
  width: 5%;
  text-align: center;
  text-wrap: wrap;
}
.admin-members tr :nth-child(2) {
  width: 15%;
  text-align: center;
  text-wrap: wrap;
}
.admin-members tr :nth-child(3) {
  width: 17%;
  text-align: center;
  text-wrap: wrap;
}
.admin-members tr :nth-child(4) {
  width: 19%;
  text-align: center;
  text-wrap: wrap;
}
.admin-members tr :nth-child(5) {
  width: 24%;
  text-align: center;
  text-wrap: wrap;
}
.admin-members tr :nth-child(6) {
  width: 5%;
}
.admin-members tr :nth-child(7) {
  width: 12%;
  margin-left: 3%;
}
