.blogContainer {
  /* height: 19.5rem; */
  width: 100%;
  padding: 0rem 2rem;
}
.Section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  margin: 2rem 0rem; 
  justify-items: center;
  gap: 2rem;
}

/* media queries */

/* tablet  */
@media screen and (max-width: 950px){
  
  .Section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    /* margin: 0rem; */
    /* gap: 4rem; */
  }
}
@media screen and (max-width: 700px){
  .Section{
    gap: 2rem;
  }
}
@media screen and (max-width: 600px){
  .Section{
    gap: 1rem;
  }
}
/* mobile - l & m */
@media screen and (max-width:520px){
  .Section{
    display: grid;
    grid-template-columns: 1fr;
  }
}
/* mobile - s */
@media screen and (max-width:400px){
  .blogContainer{
    padding: 1rem;
    margin-top: -1rem;
  }
}

