.events{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-top: 110px;
}

@media screen and (max-width:1024px){
  .events{
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 1.5rem;
  }
}
@media screen and (max-width:900px){
  .events{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width:600px){
  .events{
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    /* height: 5rem; */
  }
}
@media screen and (max-width:450px){
  .events{
    grid-template-columns: repeat(1, 1fr);
  }
}
