/*------------------------------------------- Sticky Section Start ------------------------------------------- */

.sticky {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  height: 8rem;
  width: 2.5rem;
  border-radius: 0.4rem 0rem 0rem 0.4rem;
  background-color: #011627;
  bottom: 7rem;
  right: 0;
  border-top: 2px solid rgb(0, 195, 255);
  border-left: 2px solid rgb(0, 195, 255);
}

.stick_icons {
  width: 60%;
  height: 90%;
  color: rgb(0, 195, 255);
  padding: 0.1rem;
}

.stick_icons:hover {
  width: 65%;
  height: 95%;
}

/*-------------------------------------------- Sticky Section End ------------------------------------------- */

/*-------------------------------------------- Hero Section Start  --------------------------------------------- */

.main_hero_section {
  display: flex;
  height: 27.7rem;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-top: 90px;
  /* border: 2px solid red; */
}

.main_hero_section .left_hero_section {
  /* border: 2px solid rgb(246, 187, 187); */
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  gap: 1rem;
  padding-left: 4rem;
  margin-right: 4rem;
}

.left_hero_section div {
  display: flex;
  font-size: 1.7rem;
  /* border: 2px solid red; */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
}
.left_hero_section span {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.left_hero_section h3 {
  height: fit-content;
  color: rgb(0, 195, 255);
  /* border: 2px solid red; */
  font-size: 2rem;
  position: absolute;
  top: -40%;
  left: 12%;
}
.right_hero_section {
  width: 50%;
  height: 100%;
  padding: 0rem 0rem 3rem 0rem;
  filter: drop-shadow(0 0 0.75rem rgb(0, 195, 255));
  /* border: 2px solid red; */
}
/*-------------------------------------------- Hero Section End  --------------------------------------------- */

/* ----------------------------------------- Who we are Section  Start ------------------------------------*/

.wwr {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
}

.flowchart {
  height: fit-content;
}
.flowchart img {
  height: 25rem;
  width: 100%;
}
.wwr_head {
  display: flex;
  width: 100%;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
}

.wwr_head hr {
  background-color: rgb(255, 255, 255);
  height: 1.5px;
  width: 40%;
  border: 1px solid transparent;
}

.wwr_head h2 {
  font-size: 2rem;
  font-family: "Open-Sans", sans-serif;
  font-weight: 600;
  color: white;
}
.wwr p {
  color: rgb(255, 255, 255);
}

.wwr_main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}

.flowchart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}

.wwr_main img {
  width: 100%;
}

/* --------------------------------------- We who are Section End ------------------------------------ */

/* --------------------------------------- E_Summit Section Start ------------------------------------ */
.e_summit {
  background: linear-gradient(160deg, #011627, #02213a, #011627);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.e_summit_top {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  /* background-color: chartreuse; */
  padding: 1rem 2rem 0rem 3rem;
  color: rgba(0, 195, 255, 1);
}

.e_summit_top h4 {
  filter: drop-shadow(2px 2px 2px rgb(42, 41, 41));
}

.e_summit_top img {
  width: 8rem;
}

.e_summit_mid {
  padding: 4rem 8rem;
}

.e_summit_bottom {
  display: flex;
  justify-content: end;
  padding: 0rem 8rem 1rem 8rem;
}

.e_summit_bottom button {
  padding: 0.4rem 1.6rem;
  border-radius: 2.2rem;
  border: 2px solid rgb(0, 195, 255);
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 600;
}

.e_summit_bottom button a {
  color: white;
}

.e_summit_bottom button:hover {
  background-color: rgb(0, 195, 255);
  color: #011627;
  transition: all zoom ease-in;
  transition-duration: 500ms;
}

/* --------------------------------------- E_Summit Section End ------------------------------------ */

/* -------------------------------------- Our Event Carousel Section Start ---------------------------------------- */
#our_events {
  margin-bottom: 1rem;
}

.carousel-container {
  position: relative;
  /* border: 2px solid red; */
}

.carousel {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  padding: 1rem;
  height: 25rem;
  width: 100%;
  position: relative;
  scrollbar-width: none;
  scroll-behavior: smooth;  
}

.arrow-button {
  padding: 0;
  position: absolute;
  transform: translateY(-50%);
  color: #000;
  cursor: pointer;
  background: transparent;
  width: 36px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  aspect-ratio: 1;
  -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
}

span {
  position: relative;
  top: 3px;
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  color: rgb(0, 195, 255);
}

.left-arrow {
  top: 50%;
  left: -2.5%;
}

.right-arrow {
  top: 50%;
  left: 100%;
}

#our_events hr {
  width: 41%;
}

.props {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  height: 18rem;
  width: 100%;
  padding: 2rem 6rem;
}

.prop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 92%;
  border-radius: 0.7rem;
  background: linear-gradient(180deg, #011627, #02213a, #02213a, #011627);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  margin: 0rem 1rem;
}

.prop:hover {
  height: 100%;
  transform: scale(1.06);
  transition-duration: 300ms;
}

.prop img {
  height: 60%;
  width: 50%;
}

.prop h4 {
  margin-top: -4%;
  font-size: 1.8rem;
}

.prop p {
  margin-bottom: 10%;
  font-weight: 600;
  font-size: 1.1rem;
}

/* -------------------------------------- Our Event Carousel Section End -------------------------------------- */

/* ------------------------------------- Our Clothing_Partner Section Start ---------------------------------------- */

#our_partners hr {
  width: 34%;
}

#our_partners {
  position: relative;
}

.clothes {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  margin: 3rem 0rem 2rem 0rem;
  /* border: 2px solid rgb(255, 255, 255); */
}

.cloth_container {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  /* border: 2px solid red; */
  position: relative;
}

.cloth {
  width: 100%;
  aspect-ratio: 9/11.5;
  /* border: 2px solid red; */
  margin-top: -1rem;
}
.cloth_empty_divv {
  width: 100%;
  aspect-ratio: 9/11.5;
  /* border: 2px solid rgb(0, 148, 79); */
  margin-top: -1rem;
}

.cloth img {
  width: 100%;
  /* border: 2px solid red; */
}

.brand {
  /* border: 2px solid red; */
  margin-top: -1rem;
  width: 100%;
  height: 100%;
}

.brand img {
  height: 5rem;
}

.hanger {
  position: absolute;
  top: 1.6rem;
  left: 39.5%;
}

.hanger img {
  width: 9rem;
}

/* ------------------------------------- Our Clothing_Partner Section Start ---------------------------------------- */

/* ------------------------------------- Our Collaborations Section Start ---------------------------------------- */

#our_collaborations hr {
  width: 35%;
}

.sponsors {
  width: 100%;
  overflow: hidden;
}

.sponsor {
  display: flex;
  animation: slide 10s linear infinite;
  width: 100%;
  gap: 1.5rem;
  margin: 4rem 0rem;
}
.sponsor img {
  height: 10rem;
  border-radius: 1rem;
}
@keyframes slide {
  0% {
    transform: translateX(-2%);
  } /* Start from initial position */
  100% {
    transform: translateX(-90%);
  }
}

/* ------------------------------------- Our Collaborations Section End ---------------------------------------- */







/* ---------------------------------------- Media Query Starts from Here --------------------------------------- */

@media screen and (max-width: 1220px) {
  .wwr_head hr {
    width: 35%;
  }
  #our_events hr {
    width: 35%;
  }
  #our_speakers hr {
    width: 25%;
  }
  #our_partners hr {
    width: 30%;
  }
  #our_collaborations hr {
    width: 30%;
  }
  #our_members hr {
    width: 25%;
  }
  .main_hero_section .left_hero_section {
    /* border: 2px solid rgb(255, 255, 255); */
    width: 50%;
    padding-top: 8rem;
    margin-right: 2rem;
  }

  .left_hero_section h3 {
    top: -35%;
    left: 14%;
  }
  .right_hero_section {
    width: 50%;
    padding-top: 0rem;
    margin-bottom: -2rem;
  }
}

@media screen and (max-width: 1050px) {
  .main_hero_section .left_hero_section {
    /* border: 2px solid rgb(255, 255, 255); */
    width: 50%;
  }

  .left_hero_section h3 {
    top: -35%;
    left: 15%;
  }
  .right_hero_section {
    width: 50%;
  }
}
@media screen and (max-width: 950px) {
  .wwr_head hr {
    width: 33%;
  }
  #our_events hr {
    width: 35%;
  }
  #our_speakers hr {
    width: 20%;
  }
  #our_partners hr {
    width: 25%;
  }
  #our_collaborations hr {
    width: 25%;
  }
  #our_members hr {
    width: 20%;
  }
  .prop {
    height: 11rem;
  }
  .prop:hover {
    transform: scaleY(1.00001);
    transform: scaleX(1.01);
  }
}
@media screen and (max-width: 920px) {
  .main_hero_section .left_hero_section {
    width: 60%;
    padding-top: 7rem;
    margin-right: 2rem;
    /* border: 2px solid rgb(255, 255, 255); */
  }

  .left_hero_section h3 {
    top: -35%;
    left: 15%;
  }
  .right_hero_section {
    width: 40%;
    padding-top: 0rem;
    margin-bottom: -2rem;
  }
  .carousel > .card {
    min-width: 40%;
  }
  .props {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 2rem;
    gap: 1rem;
    height: auto;
    margin-top: 2rem;
  }

  .prop {
    height: 7rem;
    width: 80%;
    margin-bottom: 2.5rem;
    position: relative;
  }

  .prop img {
    height: 70%;
    width: 70%;
    position: absolute;
    top: -38%;
  }

  .prop h4 {
    position: absolute;
    font-size: 1.2rem;
    bottom: 10%;
  }

  .prop p {
    position: absolute;
    font-size: 1rem;
    bottom: 20%;
  }
  .hanger {
    top: 1.4rem;
    left: 35%;
  }
}

@media screen and (max-width: 780px) {
  .sticky {
    display: none;
  }
  .e_summit {
    z-index: 0;
  }
  .wwr_head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wwr_head hr {
    display: none;
  }
  #our_events {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #our_events hr {
    display: none;
  }
  .carousel > .card {
    min-width: 50%;
  }
  #our_speakers {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #our_speakers hr {
    display: none;
  }
  #our_partners {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #our_partners hr {
    display: none;
  }
  #our_collaborations {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #our_collaborations hr {
    display: none;
  }
  #our_members {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #our_members hr {
    display: none;
  }
  .wwr_head h2 {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  #our_events h2 {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  #our_speakers h2 {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  #our_partners h2 {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  #our_collaborations h2 {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  #our_members h2 {
    font-size: 1.5rem;
    text-decoration: underline;
  }

  .main_hero_section {
    margin-bottom: 0rem;
  }
  .main_hero_section .left_hero_section {
    /* border: 2px solid rgb(255, 255, 255); */
    width: 60%;
    padding-top: 6rem;
    margin-right: 2rem;
    padding-left: 1rem;
  }

  .left_hero_section h3 {
    top: -35%;
    left: 20%;
  }
  .right_hero_section {
    width: 40%;
    padding-top: 0rem;
    margin-bottom: -2rem;
  }

  .wwr p {
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .wwr_main {
    padding: 0rem;
    margin-top: -4rem;
  }
  .e_summit {
    margin-top: -3rem;
  }
  .e_summit_top {
    padding: 1rem 1rem 0rem 2.5rem;
  }
  .e_summit_mid {
    padding: 4rem 2rem;
    /* border: 2px solid red; */
  }

  .e_summit_bottom {
    padding: 0rem 2rem 1rem 0rem;
    /* border: 2px solid red; */
  }

  .carousel-container {
    margin-bottom: 3.5rem;
  }
  .carousel {
    padding: 0rem 1rem;
    height: 23.5rem;
  }

  .props {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 2rem;
    gap: 1rem 0rem;
    height: auto;
  }

  .prop img {
    height: 60%;
    width: 60%;
    top: -30%;
    margin-bottom: 0.4rem;
  }

  .prop h4 {
    margin-top: 0%;
    font-size: 1.1rem;
  }

  .prop p {
    margin-bottom: 15%;
    font-size: 0.9rem;
  }

  .prop:hover {
    height: 100%;
    animation: zoomin 2000ms ease-out;
  }
  @keyframes zoomin {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }

  .clothes {
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    align-items: center;
  }

  .cloth_container {
    display: grid;
    grid-template-columns: 48% 4% 48%;
  }

  .cloth {
    width: 100%;
    aspect-ratio: 9/18;
    /* border: 2px solid red; */
    margin-top: -1rem;
  }
  .cloth_empty_divv {
    display: none;
  }
  .brand {
    display: none;
  }
  .hanger {
    top: 1.4rem;
    left: 37%;
  }

  .sponsor {
    animation: slide 5s linear infinite;
    margin: 2rem 0rem;
  }
}
@media screen and (max-width: 580px) {
  .main_hero_section .left_hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid rgb(255, 255, 255); */
    width: 100%;
    padding-top: 0rem;
    padding: 0rem 0rem 0rem 2rem;
    margin-right: 0rem;
    margin-bottom: -3rem;
  }
  .left_hero_section h3 {
    top: -35%;
    left: 16%;
  }
  .right_hero_section {
    display: none;
  }
  .wwr_head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wwr_head hr {
    display: none;
  }
  .wwr_main {
    margin-top: 0rem;
  }
  .e_summit {
    margin-top: 0;
  }
  #our_events {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #our_events hr {
    display: none;
  }
  .carousel {
    gap: 0.3rem;
  }
  .carousel > .card {
    min-width: 65%;
  }
  #our_speakers {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #our_speakers hr {
    display: none;
  }
  #our_partners {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #our_partners hr {
    display: none;
  }
  #our_collaborations {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #our_collaborations hr {
    display: none;
  }
  #our_members {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #our_members hr {
    display: none;
  }
  .wwr_head h2 {
    font-size: 1.3rem;
    text-decoration: underline;
  }
  #our_events h2 {
    font-size: 1.3rem;
    text-decoration: underline;
  }
  #our_speakers h2 {
    font-size: 1.3rem;
    text-decoration: underline;
  }
  #our_partners h2 {
    font-size: 1.3rem;
    text-decoration: underline;
  }
  #our_collaborations h2 {
    font-size: 1.3rem;
    text-decoration: underline;
  }
  #our_members h2 {
    font-size: 1.3rem;
    text-decoration: underline;
  }
  .prop p {
    margin-bottom: 18%;
    font-size: 0.9rem;
  }

  .hanger {
    top: 1.3rem;
    left: 35%;
  }
}
@media screen and (max-width: 450px) {
  .main_hero_section {
    margin: 4rem 0rem 0rem 0rem;
  }
  .left_hero_section {
    padding-left: 0rem;
    margin-left: -0.5rem;
  }
  .left_hero_section > div {
    font-size: 1.5rem;
    /* border: 2px solid red; */
  }
  .left_hero_section span {
    font-size: 2.2rem;
  }
  .left_hero_section h3 {
    top: -30%;
    left: 17%;
  }
  .left_hero_section p {
    text-align: justify;
  }
  .wwr_main {
    padding: 0rem;
  }
  .e_summit_top {
    padding: 1rem 0rem 0rem 2rem;
  }
  .e_summit_top h4 {
    font-size: 0.9rem;
  }
  .e_summit_top img {
    height: 2rem;
  }
  .e_summit_bottom {
    display: flex;
    justify-content: center;
    padding: 0rem 0rem 2rem 0rem;
  }
  .carousel {
    padding: 0;
  }
  .carousel > .card {
    min-width: 100%;
  }
  .props {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem 2rem;
    gap: 1rem;
  }

  .prop {
    height: 5rem;
    margin-bottom: 1.5rem;
    width: 80%;
  }

  .prop img {
    height: 60%;
    width: 60%;
    margin-bottom: 0.4rem;
  }

  .prop h4 {
    margin-top: 0rem;
    font-size: 1.1rem;
  }

  .prop p {
    margin-bottom: 8%;
    font-size: 0.9rem;
  }
  .prop:hover {
    height: 5.5rem;
  }
  .hanger img {
    width: 6rem;
  }
  .hanger {
    top: 1.6rem;
    left: 34%;
  }
}

/* -------------------------------------------------- Media Queries Ends Here ------------------------------------------------------ */
