body {
  background-color: #011627;
}
#spinner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#spinner > img {
  animation: spinner 1.5s infinite;
}
@keyframes spinner {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(-400px);
  }
}
