.login-container {
  display: flex;
  flex-direction: column;
  height: 25rem;
  margin: 5% 30%;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  color: rgb(255, 255, 255);
  margin-top: 110px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.login-container h3 {
  color: rgb(0, 195, 255);
  margin-top: 2rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  height: 45vh;
  align-items: center;
  justify-content: space-around;
  margin-top: -15px;
}

.login-container input {
  outline: none;
  padding: 3%;
  margin: 0.7rem 0rem;
  width: 25vw;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1px solid rgb(0, 195, 255);
  border-radius: 0.3rem;
}

.login-container form .btnSection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(137, 32, 32); */
}

.login-container form .btnSection p {
  font-size: small;
  margin-right: 5px;
}

.login-container form .btnSection a {
  font-size: medium;
  text-decoration: none;
  color: rgba(0, 195, 255, 1);
}

.login-container form button {
  width: 45%;
  height: 2.7rem;
  padding: 0;
  font-size: 1rem;
}



@media screen and (max-width: 1200px) {
  .login-container h3 {
    margin-top: 4rem;
  }
  .login-container input {
    margin: 0rem;
  }
  .login-container form{
    margin-top: 40px;
  }
}

@media screen and (max-width: 500px) {
  .login-container {
    height: 25rem;
    padding: 0;
    margin: 115px 10px 30px 10px;
  }
  .login-container input {
    /* margin: 0rem; */
    width: 70%;
  }
  .login-container form button{
    width: 30%;
  }
}
