.button {
  height: 3rem;
  width: 6rem;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 0.6rem;
  /* margin: 0.4rem 0rem; */
}
.register {
  background-color: orange;
  color: white;
}
.add {
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
  color: rgb(255, 255, 255);
}
.edit {
  background-color: white;
  color: rgb(216,27,96);
  /* border: 1px solid rgb(216,27,96); */
}
.delete {
  background: linear-gradient(195deg, #ec407a 0%, #d81b60 100%);
  color: white;
}

.register:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(220, 66, 35);
  transition: all ease-in-out 0.2s;
}
.add:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  transition: all ease-in-out 0.2s;
}
.edit:hover {
  /* background: linear-gradient(195deg, #EC407A 0%, rgb(216, 27, 96) 100%);; */
  /* color: white; */
  transition: all ease-in-out 0.2s;
}
.delete:hover {
  background: white;
  color: rgb(216,27,96);
  transition: all ease-in-out 0.2s;
  border: 1px solid rgb(216,27,96);
}
