.modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(189, 189, 189, 0.9);
    z-index: 1;
}
.modal{
    position: fixed;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    z-index: 1;
}
.modal-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #011627;
    width: 50%;
    gap: 0.5rem;
}
.modal-container> button{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    background: transparent;
    border: 1px solid transparent;
}

.modal-container div button{
    width: auto;
}
.modal-container input{
    outline: none;
    color: white;
    padding: 0.3rem 1rem;
    border: 1px solid rgb(0, 195, 255);
    background: transparent;
    width: 40%;
    margin-right: 20%;
}
.modal-input{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.modal-input label{
    width: 38%;
    text-align: right;
    margin-right: 2%;
    text-transform: capitalize;
    color: white;
    /* border: 2px solid red; */
}


.modal-container p{
    color: grey;
}

@media only screen and (max-width:950px){
    .modal{
        top: 20%;
    }
}
@media only screen and (max-width:550px){
    .modal-container{
        width: 80%;
        gap: 1rem;
    }
    .modal-input{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modal-input label{
        display: flex;
        align-items: center;
        width: 67.5%;
        margin-left: 0;
        margin-bottom: 0.5rem;
    }
    .modal-container input{
        width: 70%;
        margin-right: 0%;
    }
}